<!DOCTYPE html>
<html>
<head>
    <title>Virtual Doctor Chat</title>

</head>
<body >   

    <h1>Welcome to the Virtual Doctor Chat</h1>
    <form action="http://127.0.0.1:5000/predict" method="POST">
        <label for="user-name">Doctor: I'm Dr. John. I hope I can assist you today. Before that, could you please tell me your name?</label>
        <input type="text" name="user-name" placeholder="Your Name">
        <br>
        <label for="gender">Doctor: What is your gender?</label>
        <input type="radio" name="gender" value="Male"> Male
        <input type="radio" name="gender" value="Female"> Female
        <input type="radio" name="gender" value="Other"> Other
        <br>
        <label for="user-age">Doctor: How old are you?</label>
        <input type="number" name="user-age" placeholder="Your Age">
        <br>
        <label for="user-phone_number">Doctor: Your phone number?</label>
        <input type="text" pattern="\d{10}" title="Please enter a 10-digit number" name="user-phone_number" placeholder="Your phone number (10 digits)" required>
        
        <br>

        <!-- Question inputs -->
        {% for i in range(1, 49) %}
        <label for="q{{ i }}" >Doctor: {{ questions[i-1] }}</label>
        <input type="radio" name="q{{ i }}" value="1" > Yes
        <input type="radio" name="q{{ i }}" value="0" checked> No
        <br>
        {% endfor %}

        <input type="submit" value="Predict" >
    </form>
</body>
</html>


