<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prediction</title>
    <style>
        table,th,td{
            border: 1px solid black;
        }

    </style>
</head>
<body>
    <h1>registration details</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>user_phone_nomber</th>
        </tr>
        <tr>
            <td>{{Name}}</td>
            <td>{{Gender}}</td>
            <td>{{Age}}</td>
            <td>{{user_phone_nomber}}</td>
        </tr>
    </table>
    
    <h3> Hello, {{Name}}! Based on your responses, the prediction for your condition is:{{predicted}} </h3>
    <h4 >"Please consult a {{predicted}} specialist for further evaluation of your condition."</h4>
    <br>
    <br>

    <h4 >"Based on your symptoms, here is a list of specialized doctors that may assist you further:"</h4>


    <a href='/Diabetes' style="text-decoration: none; color: #333; font-size: 18px; font-family: Arial, sans-serif; padding: 8px 12px; background-color: #f0f0f0; border-radius: 5px;">Diabetes - 'Dr majeed'</a>


    <a href='/Fungal_infection' style="text-decoration: none; color: #333; font-size: 18px; font-family: Arial, sans-serif; padding: 8px 12px; background-color: #f0f0f0; border-radius: 5px;">Fungal infection - 'Doctor sam'</a>
    <br>
    <br>

    <a href='/Diabetes' style="text-decoration: none; color: #333; font-size: 18px; font-family: Arial, sans-serif; padding: 8px 12px; background-color: #f0f0f0; border-radius: 5px;">Diabetes - 'Dr majeed'</a>
    <br>
    <br>

    <a href='/Diabetes' style="text-decoration: none; color: #333; font-size: 18px; font-family: Arial, sans-serif; padding: 8px 12px; background-color: #f0f0f0; border-radius: 5px;">Diabetes - 'Dr majeed'</a>
    <br>
    <br>

    <a href='/Diabetes' style="text-decoration: none; color: #333; font-size: 18px; font-family: Arial, sans-serif; padding: 8px 12px; background-color: #f0f0f0; border-radius: 5px;">Diabetes - 'Dr majeed'</a>
    <br>
    <br>

    <a href='/Diabetes' style="text-decoration: none; color: #333; font-size: 18px; font-family: Arial, sans-serif; padding: 8px 12px; background-color: #f0f0f0; border-radius: 5px;">Diabetes - 'Dr majeed'</a>
    <br>
    <br>

    <a href='/Diabetes' style="text-decoration: none; color: #333; font-size: 18px; font-family: Arial, sans-serif; padding: 8px 12px; background-color: #f0f0f0; border-radius: 5px;">Diabetes - 'Dr majeed'</a>
    
</body>
</html>